#navbar.rolagem {
  background-color: #01012d;
  margin-top: -25px; 
}

#navbar.rolagem a {
  color: rgb(218, 208, 208);
}

#navbar.rolagem img {
  filter: invert(100%) grayscale(100%);
  transition: 0.7s;
  max-width: 90px;
  margin-top: -1px;
}

.navbar {
  height: 107px;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 5;
  position: fixed;
  transition: 0.7s;
  background-color: rgba(102, 102, 223, 0.087);
  right: 1px;
}

.nav-list {
  list-style: none;
  margin: 200px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -1px;
  margin-left: 100px;
}

.nav-item {
  margin-left: 120px;
  font-size: 16px;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.nav-item:hover {
  background-color: rgba(0, 0, 0, 0.103);
  border-radius: 5px;
}

.logo img {
  max-width: 100px;
  height: auto;
  margin-left: 40px;
  margin-top: -5px;
}

.nav-item.login,
.nav-item.cadastro {
  margin: -1.5%;
  font-size: 15px;
  margin-top: 23px;
}

.nav-log {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#cadastro {
  margin-left: 20px;
}

#login {
  margin-left: 1100px;
}

#meuacesso {
  margin-left: 80px;
  white-space: nowrap;
}

#logout {
  margin: -2.5%;
  font-size: 15px;
  margin-top: 18px;
  margin-left: 1130px;
}
#navbar.rolagem{
  background-color: #01012d;
  margin-top: -25px;
}
#navbar.rolagem a{
  color: rgb(218, 208, 208);
  
}
#navbar.rolagem img{
  filter: invert(100%) grayscale(100%);
  transition: 0.7s;
  max-width: 90px;
  margin-top: -1px;
}
.navbar{
  height: 107px;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 5;
  position: fixed;
  transition: 0.7s;
  background-color: rgba(102, 102, 223, 0.087);
  right: 1px;
     
}

.nav-list {
  list-style: none;
  margin: 200px;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -1px;
  margin-left: 100px;
}

.nav-item {
  margin-left: 120px;
  font-size: 16px;
}

.nav-item a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.nav-item:hover{
  background-color: rgba(0, 0, 0, 0.103);
  border-radius: 5px;
 
}

.logo, img{
  max-width: 100px;
  height: auto;
  margin-left: 40px;
  margin-top: -5px;
}

.nav-item.login,
.nav-item.cadastro {
  margin: -1.5%;
  font-size: 15px;
  margin-top: 23px;
  

}
.nav-log{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#cadastro{
  margin-left: 20px;
}
#login{
  margin-left: 1100px;
}
#meuacesso{
  margin-left: 80px;
  white-space: nowrap;
}

#logout {
  margin: -2.5%;
  font-size: 15px;
  margin-top: 18px;
  margin-left: 1130px;

}
