body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    /* color: #ec1b1b04; */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.mt-15{
    margin-top: 150px;
}

main{
    margin-top: 50px;
    margin-right: 20px;
}
.logo2{
    height: 140px;
    max-width: 250px;
    margin-left: -50px;
    margin-top: 30px;
}
button {
    width: auto;
    height: auto;
    padding: 20px;
    background-color: #c49958;
    color: rgb(255, 255, 255);
    border-color: inherit;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-right: 110px;
}

/* Grid */
.d-grid {
    display: grid;
    margin-top: 100px;
}


/*flexbox */
.container {
    /* display: flex; */
    background-color: rgb(245, 245, 245);
    width: 50%;
    
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
    gap: 5px;
}

.flex-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}
.blue-section {
    background-color: #01012d;
    color: white;
}
.root {
    --azul_escuro: #01012d;
    --azul_claro: #2768F5;
    --azul_escuro2: rgb(0, 11, 34);
    --roxo:  #AE27F5;
    --rosa:  #F127F5;
    --marrom: #c49958;
    --marrom_destaque: rgb(223, 142, 21);
    --prata: rgba(245, 245, 245, 0.788);
}
.emphasis {
    color: rgb(223, 142, 21);
    font-weight: 900;
}

.white-section {
    background-color: rgb(235, 235, 235);
    padding: 60px;
    color: #01012d
}

.text-center {
    text-align: center;
    margin-top: 20px;
}

.text-justify {
    text-align: justify;
}

.oblique {
    font-style: oblique;
}

.text-upper {
    text-transform: uppercase;
}
/* Utilizamos Adobe Color */

#services-carrousel {
    margin-top: 4rem;
}

#services-carrousel > div {
    max-width: 350px;
    height: 200px;
}

span{
    color: white;
    margin-top: 240px;
} 
a{
    color: #ffffff;
}
.container{
    border: solid black 3px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
h1{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.text-upper
{
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}
button:hover{
    background-color: #2768F5;
}

.serv1:hover{
    background-color:  rgba(39, 104, 245, 0.096);
    border-radius: 30px;
}
.serv2:hover{
    background-color:  rgba(39, 104, 245, 0.096);
    border-radius: 30px;
    margin-left: 0px;
}
.serv3:hover{
    background-color:  rgba(39, 104, 245, 0.096);
    border-radius: 30px;
    margin-left: 0px;
}
.serv1{
    margin-left: 30px;
    color: black;
}
.serv2{
    color: black;
    margin-right: 80px;
}
.serv3{
    color: black;
    margin-right: 100px;
}
.fa-brands{
    padding-right: 20px;
    
}

.text-upper{
    margin-right: 30px;
    margin-bottom: 50px;
}