main {
    font-family: 'Arial', sans-serif;
    background-image: url(/assets/img/fundo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #ec1b1b04;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 150px;
    padding-bottom: 50px;
  }
  .container {
      max-width: 600px;
      margin: auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: rgb(212, 215, 243);
      z-index: 10;
      
    }
    
    .form-group {
      margin-bottom: 15px;
    }
    
    .text-danger {
      font-size: 0.875em;
    }
    
    .btn {
      margin-top: 10px;
    }
    h2{
      color: black;
    }
    label{
      color: black;
    }