.home-section {
    margin: auto;
    font-family: 'Arial', sans-serif;
    background-image: url(../../assets/img/home.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    color: #db111104;
    font-family: Arial, Helvetica, sans-serif;
    position: relative; /* Adicione esta linha */
}

.home-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.342); /* Ajuste o valor do alfa conforme necessário */
    z-index: 1; /* Certifique-se de que o overlay esteja acima da imagem de fundo */
}

.home-content, .carrosel, .elogio, .elogio2, h2, h3, h4, #slogan, #sloganfim, .cta-button {
    position: relative; /* Adicione esta linha */
    z-index: 2; /* Certifique-se de que o conteúdo esteja acima do overlay */
}

h1 {
    font-size: 40px;
    color: white;
    margin-left: -110px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 15%;
}

.carousel {
    margin-top: 40px; /* Altura da navbar */
    margin-bottom: 56px; /* Altura do footer */
    margin-left: -20px;
}

.carousel-control-prev,.carousel-control-next{
    margin-bottom: 260px;
}

#img1, #img2, #img3 {
    max-width: 70%;
    margin-left: 15%;
    max-height: 50%;
    height: 420px;
}

#img4 {
    max-width: 40%;
    margin-left: 350px;
    height: 420px;
    padding-right: 50px;
    margin-top: -75px;
}

p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 30px;
}

.content {
    display: flex;
    align-items: center;
}

.text {
    margin-top: 30px;
    margin-left: 80px; /* Espaço entre a imagem e o texto */
    background-color: #3533cd;
    padding-right: 50px;
}

main {
    margin-top: 150px;
}

.logo2 {
    height: 140px;
    max-width: 250px;
    margin-left: -45px;
    margin-top: 40px;
}

#map {
    width: 400px;
    height: 250px; /* Ajuste para tornar o mapa quadrado */
    margin: 0 auto; /* Centraliza o mapa horizontalmente */
    margin-top: 35px;
}

button {
    width: 200px;
    height: auto;
    padding: 20px;
    background-color: var(--marrom);
    color: rgb(247, 42, 42);
    border-color: inherit;
    border-radius: 10px;
    cursor: pointer;
}

/* Spacing */
.mr-5 {
    margin-right: 5px;
}

.ml-5 {
    margin-left: 5px;
}

.mt-5 {
    margin-top: 20px;
}

.mt-10 {
    margin-top: 5px;
}

.mt-15 {
    margin-top: 5px;
}

.mt-20 {
    margin-top: 5px;
}

/* Grid */
.d-grid {
    display: grid;
}

.grid-columns-2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid-columns-3 {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
}

.grid-columns-5 {
    grid-template-rows: 1fr;
    grid-template-columns: repeat(5, 1fr);
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

/* Flexbox */
.container {
    display: flex;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-end {
    justify-content: flex-end;
    gap: 5px;
}

.flex-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.blue-section {
    background-color: var(--azul_escuro);
    color: white;
}

.emphasis {
    color: var(--marrom_destaque);
    font-weight: 900;
}

.white-section {
    background-color: white;
    padding: 60px;
    color: var(--azul_escuro)
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.oblique {  
    font-style: oblique;
}

.text-upper {
    text-transform: uppercase;
}

/* Utilizamos Adobe Color */
:root {
    --azul_escuro: #01012d;
    --azul_claro: #2768F5;
    --azul_escuro2: rgb(0, 11, 34);
    --roxo:  #AE27F5;
    --rosa:  #F127F5;
    --marrom: #c49958;
    --marrom_destaque: rgb(223, 142, 21);
    --prata: rgba(245, 245, 245, 0.788);
}

#services-carrousel {
    margin-top: 4rem;
}

#services-carrousel > div {
    max-width: 350px;
    height: 200px;
}

svg {
    fill: var(--azul_escuro2);
}

button {
    font-size: large;
}

span {
    color: rgb(233, 17, 17);
    margin-top: 220px;
}

a {
    color: white;
}

.cta-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    background-color: rgba(236, 54, 54, 0.041);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-right: 100px;
    background-color: rgba(255, 255, 255, 0.336);
}

.cta-button:hover {
    background-color: white;
}

.home-content {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 40px;
    margin-left: 250px;
}

.home-content h1 {
    font-size: 45px;
    color: white; /* Defina a cor desejada para o texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

.home-section {
    padding: 100px 0;
    text-align: center;
    color: black;
}

#slogan {
    color: white;
    margin-left: -105px;
    font-size: 19px;
}

.elogio {
    text-align: justify;
    margin-left: 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.507);
    max-width: 50%;
    font-size: 15px;
    max-height: 100%;
}

h3 {
    margin-top: 60px;
    margin-left: 20px;
    background-color: rgba(255, 255, 0, 0.507);
    max-width: 20%;
    font-size: 25px;
}

.elogio2 {
    margin-top: 20px;
    text-align: left;
    margin-left: 610px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.507);
    max-width: 50%;
    font-size: 15px;
}

h4 {
    margin-left: 990px;
    background-color: rgba(255, 255, 0, 0.507);
    max-width: 20%;
    font-size: 25px;
}

h2 {
    font-size: 30px;
    color: white; /* Defina a cor desejada para o texto */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
}

#sloganfim {
    text-align: center;
}

#marcos {
    margin-right: 1px
}

.video-section {
    margin-top: 40px;
    text-align: center;
}

.video-section video, .video-section iframe {
    max-width: 70%; /* Altere conforme a largura do carrossel */
    margin-right: 1.5%;
    height: auto; /* Mantém a proporção do vídeo */
}
