/* src/components/footer/Footer.css */
.text {
    margin-top: 30px;
    margin-left: 80px;
    background-color: #3533cd;
    padding-right: 50px;
}

.logo2 {
    height: 140px;
    max-width: 250px;
    margin-left: -45px;
    margin-top: 40px;
}

#map {
    width: 400px;
    height: 250px;
    margin: 0 auto;
    margin-top: 35px;
}

button {
    width: 200px;
    height: auto;
    padding: 20px;
    background-color: var(--marrom);
    color: whitesmoke;
    border-color: inherit;
    border-radius: 10px;
    cursor: pointer;
}

/* Outros estilos que você definiu anteriormente */
footer {
    padding: 1px 1px 0px 10px;
    grid-template-columns: 1.2fr 1.2fr 0.8fr;
    font-size: 0.95rem;
    background-color: var(--azul_escuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
    font-family: 'Montserrat', sans-serif;
    background-color: #01012d;
    height: 300px;
    align-content: center;
    align-items:start;
    width: 100%;
    z-index: auto;
    position: absolute;
}

span {
    color: white;
}
